<div class="comments">
  <% @article.comments.order("created_at desc").each do |comment| %>
    <div class="title">
      <h5><strong><%= comment.title %></strong></h5>
    </div>
    <div id="user">

    <% comment.users.each do |user| %>
          <small><%= user.name + ' ' + user.surname %> says:</small>
    <% end %>
    </div>
    <br>
    <div class="content">
      <%= comment.content %>
    </div>
    <br>
    <% if comment.users.include?(current_user)  || current_user.admin? %>
          <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
    <% end %>
    <hr>
  <% end %>
</div>